<div class = "category_head">
     <a href="<%= categories_path %>">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    <h2 class="login-nav">New Category</h2>
    <a href="/logout">
        <i class="fa-solid fa-right-from-bracket"></i>
    </a>
</div>
<%= form_with(model: @category, url:categories_path) do |form| %>
    <div class= "form-container">
        <%= form.text_field :name, placeholder: "Name" %>
      

        <%= form.file_field :icon %>

        <%= form.submit "Create", class: "submit-button" %>
    </div>
<% end %>

<div>
  <%= link_to "Back to categories", categories_path %>
</div>
