<div class="login-nav">
  <div class="login-nav">NEW CATEGORY</div>
  <div class="cate-back">
    <%= link_to "BACK", categories_path %>   
  </div>     
</div>

<%= form_with(model: @category, url:categories_path) do |form| %>
    
    <div class= "form-container">
    <div class="email-width cate-form">
        <%= form.text_field :name, placeholder: "Name" %>
        </div>

        <div class="email-width cate-form">
        <%= form.file_field :icon %>
        </div>

        <div class="email-width">
        <%= form.submit "Create", class: "submit-button" %>
        </div>
    </div>
<% end %>
