<div class="login-nav">
  <div class="login-nav">NEW TRANSACTION</div>
  <div class="cate-back">
    <%= link_to "BACK", category_operations_path %>   
  </div>     
</div>

<%= form_with(model: @operation, url:category_operations_path) do |form| %>     
  <div class = "form-container">
    <div class="email-width cate-form">
      <%= form.text_field :name, placeholder: " Name "%>
    </div>
    <div class="email-width cate-form">
      <%= form.text_field :amount, placeholder: " Price "%>
    </div>
    <div class="email-width cate-form">
      <%= form.submit "create", class: "submit-button" %>
    </div>
  </div>
<% end %>
</div>
