<p class="login-nav new-t"> New Transaction </p>
<div>
<%= form_with(model: @operation, url:category_operations_path) do |form| %>
     
  <div class = "form-container">
   <%= form.text_field :name, placeholder: " Name "%>
   <%= form.text_field :amount, placeholder: " Price "%>
   <%= form.submit "create", class: "submit-button" %>
  </div>
<% end %>
<p class="forgot-pwd"><%= link_to "Back", category_operations_path %></p> 
</div>
